:host {
    display: block;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  canvas#pieChart {
    width: 100%;
    height: 300px;
  }
  